{% extends "moviepoll/base_site.html" %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Intek Movie Friday Night</h1>
    <p class="lead">At Intek, we will have a movie night every friday to relax and have some fun because it's not all about coding!. The movie will be based on your vote, yes, YOURS.</p>
    <p class="lead">
      <a class="btn btn-dark btn-outline-danger" href="{% url 'moviepoll:poll' %}" role="button">Vote now</a>
    </p>
  </div>
{% endblock content %}
